*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  $reponsive-font: calc(
    (var(--min-size) * 1px) + var(--diff) * ((100vw - 420px) / (1200 - 420))
  );
}

body {
  background: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: "Red Hat Display" !important;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 0;
}

/**
 * Main navigation
 */

#mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 10;
  .headerlink {
    height: 50px;
    width: 50px;
  }
  #logout a img {
    height: 50px;
    width: 50px;
  }
  #account a img {
    height: 50px;
    width: 50px;
  }
  h1 {
    color: #fff;
    font-family: "Red Hat Display";
    font-weight: 900;
    font-size: calc(1em + 3vw);
    text-shadow: -0.0075em 0.0075em 0 mix(#fff, #111111, 94%),
      0.005em 0.005em 0 mix(#fff, #111111, 60%),
      0.01em 0.01em 0 mix(#fff, #111111, 62%),
      0.015em 0.015em mix(#fff, #111111, 64%),
      0.02em 0.02em 0 mix(#fff, #938b8e, 66%),
      0.025em 0.025em 0 mix(#fff, #111111, 68%),
      0.03em 0.03em 0 mix(#fff, #111111, 70%),
      0.035em 0.035em 0 mix(#fff, #111111, 72%);
  }
}

#mainLogin {
  #loginSection {
    display: flex;
    justify-content: center;
    align-items: center;

    #loginForm {
        display: flex;
        justify-content: center;
        align-items: center;
      margin: 8vh 10vh;
      padding: 20px 5px;
      width: 340px;
      height: 458px;
      left: calc(50% - 249px / 2 - 194.5px);
      top: 3891px;

      background: linear-gradient(
        180deg,
        rgba(3, 134, 255, 0.8) 0%,
        rgba(2, 43, 255, 0.528) 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
        inset 6px -7px 49px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      text-align: center;
      color: white;

      #contentForm {
        input {
          width: 280px;
          height: 50px;
          left: 153px;
          top: 475px;
          text-align: center;
          background: #fbf8f8;
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 48px;
        }

        label {
          margin-top: 10px;
        }

        #remember {
          margin: 0;
          width: auto;
          height: auto;
        }

        button {
          font-size: 24px;
          padding: 20px 40px;
          margin: 25px 50px;
          box-sizing: border-box;
          height: 70px;
          border-radius: 10px;
          width: 200px;
          color: white;
          cursor: pointer;
          border: none;
          outline: none;
          background: linear-gradient(
            180deg,
            rgba(3, 134, 255, 0.8) 0%,
            rgba(2, 43, 255, 0.528) 100%
          );

          &:hover {
            box-shadow: inset 0 0 0 10em rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }
}
