*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: "Red Hat Display" !important;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 0;
}

p {
  margin-bottom: 0 !important;
}

/**
 * Main navigation
 */
.container-fluid {
  padding-top: 0;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 10;
}

#mainNav .headerlink {
  height: 50px;
  width: 50px;
}

#mainNav #logout a img {
  height: 50px;
  width: 50px;
}

#mainNav #account a img {
  height: 50px;
  width: 50px;
}

#mainNav h1 {
  color: #fff;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: calc(1em + 3vw);
  text-shadow: -0.0075em 0.0075em 0 #f1f1f1, 0.005em 0.005em 0 #a0a0a0, 0.01em 0.01em 0 #a5a5a5, 0.015em 0.015em darkgray, 0.02em 0.02em 0 #dad8d9, 0.025em 0.025em 0 #b3b3b3, 0.03em 0.03em 0 #b8b8b8, 0.035em 0.035em 0 #bcbcbc;
}

/**
 * Tabs
 */
#home .tabs {
  display: flex;
  flex-wrap: wrap;
}

#home .tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #e7e4e0;
  font-weight: bold;
  transition: background ease 1s;
}

#home .tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  height: 60vh;
  display: none !important;
  padding: 0;
  background: #e7e4e0;
}

#home .tabs input[type="radio"] {
  display: none;
}

#home .tabs input[type="radio"]:checked + label {
  background: #c1c1c1;
}

#home .tabs input[type="radio"]:checked + label + .tab {
  display: block !important;
}

#home .mainpanel {
  height: 60vh;
}

#home h4 {
  font-size: 30px;
}

#home .inside {
  height: 60vh;
  width: 49.5%;
  padding: 0 !important;
  margin: 0 !important;
}

#home .scission {
  min-width: 0.5% !important;
  background-color: #fff !important;
}

#home .inout {
  height: 75% !important;
  width: 100%;
  text-align: center;
  padding: 1em 1em;
}

#home .col {
  padding: 0 !important;
  margin: 0 !important;
}

#home .col-6 {
  padding: 0 !important;
  margin: 0 !important;
}

#home .col-xl-12 {
  flex: 0 0 75% !important;
  padding: 0 !important;
  margin: 0 !important;
}

#home .row {
  padding: 0 !important;
  margin: 0 !important;
}

#home .inout img {
  width: 60px;
  height: 60px;
}

#home .outside {
  height: 60vh;
  width: 49.5%;
  padding: 0 !important;
  margin: 0 !important;
}

#home .tempe {
  display: flex;
  flex-direction: reverse;
  justify-content: center;
  align-items: center;
  padding-right: 2em;
}

#home .tempe p {
  font-size: 90px;
  margin: 15px;
}

#home .bandeau {
  color: #fff;
  background: #227aff;
  padding: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 50% !important;
  text-shadow: -0.0075em 0.0075em 0 #f1f1f1, 0.005em 0.005em 0 #a0a0a0, 0.01em 0.01em 0 #a5a5a5, 0.015em 0.015em darkgray, 0.02em 0.02em 0 #dad8d9, 0.025em 0.025em 0 #b3b3b3, 0.03em 0.03em 0 #b8b8b8, 0.035em 0.035em 0 #bcbcbc;
  white-space: pre;
  cursor: pointer;
  flex: 0 0 25% !important;
  overflow: hidden;
}

#home .bandeau {
  font-size: 30px;
  font-weight: bold;
}

#home .bandeau img {
  width: 5%;
  margin: 15px;
}

#home .bandeauout {
  background-image: url(../img/97505-OL22GP-745.jpg);
  background-size: cover;
  background-position: bottom;
}

#home #thirdTab {
  position: relative;
  right: -58.5%;
}

@media (max-width: 992px) {
  #home h4 {
    font-size: 20px !important;
  }
  #home .tabs .tab,
  #home .tabs label {
    order: initial;
  }
  #home .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
  #home #thirdTab {
    position: static;
  }
  #home .tempe p {
    font-size: 60px;
    margin: 15px;
  }
  #home .tempe {
    padding: 10px !important;
  }
  #home .bandeau {
    height: 100% !important;
    font-size: 24px;
    width: 100% !important;
    flex: 0 0 50% !important;
    word-wrap: break-word !important;
    padding: 20px !important;
  }
  #home h1 {
    font-size: 70px !important;
  }
  #home .mainpanel {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 60vh;
  }
  #home .inside {
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  #home .inout {
    padding: 10px !important;
    height: 100% !important;
    max-width: 50% !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
    align-items: center !important;
    flex: 0 0 50% !important;
  }
  #home .outside {
    height: 50% !important;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #home .fl-table {
    font-size: 50px !important;
  }
  #home .fl-table td {
    font-size: 25px !important;
  }
  #home .fl-table thead th {
    font-size: 25px !important;
  }
}

@media (max-width: 576px) {
  #home .fl-table {
    font-size: 40px !important;
  }
  #home #panel_nav {
    top: 30px !important;
    right: 0px !important;
  }
}

#home .graph {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

#home .fl-table {
  border-radius: 5px;
  font-size: 75px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  height: 60vh;
  white-space: nowrap;
  background-color: white;
}

#home .fl-table td,
#home .fl-table th {
  text-align: center;
  padding: 0;
}

#home .fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 60px;
}

#home .fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

#home .fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

#home .fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

#panel_above {
  display: none;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 10;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.95);
  transition: all 1s ease;
}

#panel_nav {
  position: absolute;
  top: 70px;
  right: 40px;
}

#panel_nav img {
  width: 50%;
  cursor: pointer;
}

.settings_panel {
  width: 100% !important;
  height: 100% !important;
}

.titlePanel {
  font-weight: 900;
  font-size: 30px;
}

.navDoc li {
  margin-bottom: 0.5rem;
}

.constantes h1 {
  text-align: center;
}

.constantes img {
  display: flex;
  justify-content: center;
}

.constantes p {
  margin-bottom: 0 !important;
}

#docHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

#titleDoc {
  margin-top: 4vh;
}

.tabs-doc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);
  width: 80vw;
  height: 80vh;
  padding: 30px 20px;
  background: #e7e4e0;
  box-shadow: 5px 5px 10px 5px #ccc;
  overflow: hidden;
}

.tabs-doc .tab-header {
  float: left;
  width: 180px;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 50px 0px;
}

.tabs-doc .tab-header > div {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #888;
  cursor: pointer;
  padding-left: 10px;
}

.tabs-doc .tab-header > div:hover,
.tabs-doc .tab-header > div.active {
  color: #00acee;
}

.tabs-doc .tab-header div i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}

.tabs-doc .tab-content {
  position: relative;
  height: 100%;
  overflow: scroll;
  display: flex;
  justify-content: center;
}

.tabs-doc .tab-content > div > i {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
}

.tabs-doc .tab-content > div {
  position: absolute;
  text-align: center;
  padding: 40px 20px;
  top: -200%;
  transition: all 500ms ease-in-out;
}

.tabs-doc .tab-content > div.active {
  top: 0px;
}

.tabs-doc .tab-indicator {
  position: absolute;
  width: 4px;
  height: 50px;
  background: #00acee;
  left: 198px;
  top: 80px;
  transition: all 500ms ease-in-out;
}
/*# sourceMappingURL=style.css.map */